.Main_music{
	padding-top: 40px;
	height: 100%;
}
#musica{
	background: url("../img/inicial_bg.jpg") no-repeat center top;
	background-size: cover; 
}
 #pause{
	display:none;
}
.button_action{
	max-width: 50px;
	max-height: 50px;
}
.current_song_name{
	text-transform: capitalize;
	color:#5cde50;
	background:rgba(35,33,39,0.85);
	width: 100%;
	height: 15%;
	margin-top: 5%;
	font-family: 'ttw';
	font-size: 18px;
	padding-top: 5px;
	overflow-y: hidden;
	overflow-x: scroll;
	text-align: left;
	padding-left: 20px;
}
.current_song_name p{
	width: 200%;
}
.music_cover{
	text-align: center;
	width: 100%;
	background: url("../img/cover_default.jpg");
	background-size: cover;
	height: 45%;
	float: left;
}
.controls{
	margin: auto;
	position: relative;
	width: 250px;
	margin-top: 5%;
	height: 70%;
	display: none;
}
.last_song img, .next_song img {
	max-width: 100%;
}
.last_song{
	float: left;
	width: 45px;
	margin-top: 50px;
}
.next_song{
	float: right;
	width: 45px;
	margin-top: 50px;
}
#audio_position{
	height: 130px;
	width: 130px;
	margin: 5px 15px;
	float: left;
	BACKGROUND: url("../img/advance_bg_song.png");
	background-size: cover;
	padding-top: 5px;
}
#list_to_songs{
	min-height: 150px;
	height:45%;
	margin-top: 10px;
	overflow-y: scroll;
	padding: 10px 20px;
	margin:auto;
	width: 100%;
}
.song_item{
	height: 80px;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px solid #4b4754;
	float: left;
}
.song_item img{
	max-height: 100%;
	float: left;
	max-width: 20%;
}
.song_item a{
	color:#fff;
	font-size: 17px;
	display:block;
	float: left;
	margin-left: 20px;
	margin-bottom:3px;
	margin-top: 10px;
	width: 70%;
	text-decoration: none;
	height: 65px;
	overflow-y: hidden;
}
#list_to_songs p{
	color:#ccc;
	font-size: 11px;
	float: left;
	margin-left: 5px;
}
#circle{
	position: absolute;
	width:120px;
	height:120px;
	margin-left: 5px;
}
#play{
	position: absolute;
	margin-top: 40px;
	margin-left: -20px;
	display: none;
}
#pause{
	position: absolute;
	margin-top: 35px;
	margin-left: -15px;
	display: none;
}
#volumen_control{
	box-shadow:none;
}
.add_music{
	width: 100%;
	height: 5%;
	background: rgba(35,33,39,0.85);
	position: absolute;
	bottom: 0;
	text-align: center;
}
.add_music .add_music_modal img{
	width: 50px;
	height: 50px;
	margin-top: -25px;
}
#list_music_modal{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(35,33,39,0.85);
	top: 0;
	text-align: center;
	display: none;
}
#list_music_modal .list_music_modal_content{
	width: 70%;
	height: 50%;
	margin-top: 40%;
	margin-left: 15%;
	background: #fff;
	overflow: hidden;
}
.list_music_modal_content .modal_top {
	background: #2e2c34;
	height: 28px;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.list_music_modal_content .modal_top .close_modal{
	float:right;
	height: 15px;
	margin-top: 7px;
	margin-right: 10px;
}
.list_music_modal_content{
	color: #555;
}
.list_music_modal_content #list_songs{
	width: 90%;
	margin: auto;
	height: 82%;
	overflow-y: auto;
}
.song_list_item{
	height: 60px;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px solid #2d2b32;
	float: left;
}
.song_list_item img{
	max-height: 100%;
	float: left;
	max-width: 20%;
}
.song_list_item .nameSongToList{
	color:#2d2b33;
	font-size: 17px;
	display:block;
	float: left;
	margin-left: 20px;
	margin-bottom:3px;
	width: 50%;
	text-decoration: none;
	height: 25px;
	overflow-y: hidden;
	text-align: left;
}
.song_list_item .addSongIcon{
	float: right;
}
.song_list_item .addSongIcon img{
	width: 30px;
	height: 30px;
	max-width: none;
	margin-top: 10px;	
}
.notif_popup{
	width: 100%;
	text-align: center;
	color:#2d2b33;
	background: #5ee252;
	margin-top: 35px;
	height: 35px;
	font-size: 13px;
}
.commig_soon{
	display: none;
	width: 100%;
	float: left;
	height: 94%;
}
.commig_soon .layer_disable{
	width: 100%;
	height: 94%;
	position:absolute;
	z-index: 2;
	background:rgba(35,33,39,0.5);
}
.commig_soon .controls{
	display: block !important;
	margin-top: 15%;
}
.commig_soon .music_cover{
	display: block !important;
}
.commig_soon .controls #play{
	margin-left: 40px  !important;
	display: block  !important;
}