@charset "utf-8"; 
  
*{ -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-user-select: none; box-sizing: border-box; margin:0; padding:0; border:0; outline:0; zoom:1; font-size:100%; vertical-align:baseline; list-style:none; text-decoration:none; clear:none;} 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;} 

/* 
	{ 'd':'nexus5', 'h':'567' }
*/

@font-face {
    font-family: 'ttw';
    src: url(TitilliumWeb-Regular.ttf);
	font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ttw';
    src: url(TitilliumWeb-Bold.ttf);
	font-weight: bold;
    font-style: nornal;
}


html{ 
    overflow-x:hidden;
	background-size: cover;
} 

body{ 
    min-width: 320px;
	background: transparent;
	font-family: 'ttw', sans-serif;
} 
  
html, body{ 
    color: #fff; 
    height:100%; 
    font-size: 13px; 
    font-weight: 400;
}
  
/* FOOTER LAYOUT */
.Container{ 
    min-height:100%; 
    height:auto !important; 
    height:100%; 
    margin:0 auto -35px; 
}
.Push{ 
    height:50px; 
}
/*FOOTER LAYOUT*/
  
h1,h3,h4,h5,h6{ 
    font-weight: 700; 
	margin: 0 0 15px 0;
}
h1{font-size:2.0em;} 
h2{font-size:1.8em;} 
h3{font-size:1.6em;} 
h4{font-size:1.4em;} 
h5{font-size:1.3em;} 
h6{font-size:1.2em;} 

p{ 
    font-weight:normal; 
    padding-bottom: .7em;
} 
  
a{ 
    color:#3D82FF; 
    text-decoration:underline; 
} 
a:hover{ 
    color:#053EA3; 
} 
  
ul{ 
    margin-top:0.8em; 
} 
ol li, 
ul li{ 
    margin-top:0.6em; 
    margin-left:1.9em; 
    list-style-type:disc; 
} 
ol li{ 
    list-style-type:decimal; 
} 
  
img{vertical-align:middle;}

.oculto{
	display: none !important;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

#cortina{
	position: absolute;
	position: fixed;
	z-index: 999999;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/loader-mini.gif);
	background-color: rgba(0,0,0, 0.6);
	width: 100%;
	height: 100%;
}

.Canvas{
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
	position: absolute;
	overflow: hidden;
}

#menu,
.Page {
   top: 0; 
   left: 0; 
   z-index: 1;
   width: 100%; 
   height: 100%;
   overflow: hidden;
   position: absolute;
   background-color: #24212C;
   -webkit-transition-duration: .25s;
		   transition-duration: .25s;
   -webkit-transform: translate3d(100%, 0, 0);
		   transform: translate3d(100%, 0, 0);
	/*ios native bouncing*/
	overflow-y: auto !important;
	-webkit-overflow-scrolling: touch;   
}
.menu-open .Page{
	-webkit-filter: blur(5px);
}
#menu,
.toLeft {
	z-index: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
		    transform: translate3d(-100%, 0, 0);
}
.menu-open #menu,
.toCenter {
	z-index: 2;
    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
}
.toRight {
	z-index: 1;
    -webkit-transform: translate3d(100%, 0, 0);
		    transform: translate3d(100%, 0, 0);
}

.Main{
	padding-top: 70px;
}

.container{
	width: 92%;
	margin: 0 auto;
	position: relative;
	height: 100%;
}

.row{
	margin-right: -15px;
	margin-left: -15px;
}

.container:after,
.container:before,
.row:before,
.row:after{
	clear: both;
	content:" ";
	display: table;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.row .col{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
	min-height: 1px;

}
.row2 .col{
	width: 50%;
}
.row3 .col{
	width: 33.3%;
}
.row4 .col{
	width: 25%;
}
.row5 .col{
	width: 20%;
}

.row2 .col, .row3 .col,
.row4 .col, .row5 .col,
.col10, .col20,
.col30, .col40,
.col50, .col60,
.col70, .col80,
.col90{ float: left; min-height: 10px;}

.col10{ width: 10% !important;}
.col20{ width: 20% !important;}
.col30{ width: 30% !important;}
.col40{ width: 40% !important;}
.col50{ width: 50% !important;}
.col60{ width: 60% !important;}
.col70{ width: 70% !important;}
.col80{ width: 80% !important;}
.col90{ width: 90% !important;}
.col100{width: 100% !important;}

/* header */

header{
	top: 0; 
	left: 0; 
	width: 100%;
	z-index: 999;
	position: fixed;
	border-bottom: 2px groove rgba(87, 87, 87, 0.6);
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #24212C;
	-webkit-transition-duration: .25s;
		    transition-duration: .25s;
}

header.noshow{
	top: -80px;
}

header .logo img{
	width: 100%;
	margin-top: 5px;
	max-width: 140px;
}

.btn-cont-fixed{
	position: absolute;
    
	bottom: 0;
    width: 100%;
}
.btn{
	padding: 10px 20px;
	display:inline-block;
	background: none;
	border: none;
}



header .btn{
	padding: 6px 10px;
}

.btn-hambur{
	display: block;
	max-width: 40px;
	padding: 10px !important;
}
.btn-hambur span{
	width: 100%;
	height: 3px;
	display: block;
	background: #5ee252;
	margin-bottom: 3px;
	border-radius: 6px;
}

#btn-accion-izq{
	text-indent: -99999px;
	width: 100%;
	background: url(../img/back_modal.png) no-repeat 7px 7px;
	background-size: 20%;
}

.btn-block{
	width: 100%;
	display: inline-block;
}

.btn-info,
.btn-danger,
.btn-primary,
.btn-success,
.btn-default{
	border:1px solid;
}

.bluetooth{
	width: 34px;
	height: 30px;
	display: inline-block;
	background-size: 85%;
}
.bluetooth.active{
	background-image: url(../img/bluetooth_on.png);
}
.bluetooth.sync {
	background: url(../img/loader-mini.gif) no-repeat center;
}

.btn-default{
	color: #666;
	background: #fff;
	border-color: #bbb;
}
.btn-success{
	color: #fff;
	background: #92C59F;
	border-color: #87B694;
}
.btn-primary{
	color: #fff;
	background: #588EDF;
	border-color: #5383CB;
}
.btn-info{
	color: #fff;
	background: #595959;
	border: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0 #242227;
}
.btn-danger{
	color: #fff;
	background: #D84A1D;
	border: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0 #511F1F;
}
.btn-iniciar{
	border-radius: 500px;
	font-size: 35px;
	padding-top: 53px;
	background-color:transparent;
	background-image: url("../img/btn_iniciar.png");
	background-size: contain;
	border: none;
	width: 100px;
	height: 100px;
	transition: all 1s ease-in-out;
}


.cuentaA{
	position: absolute;
	width: 100%;
	font-size: 100px;
	/* font-weight: bold; */
	text-align: center;
	opacity: 0;
	top: 200px;
	transition: all .5s ease-in-out;
}
.cuentaA.active{
	opacity: 1;
	top: 100px;
	font-size: 200px;
}
.cuentaA.active.stop{
	opacity: 0;
}


@-webkit-keyframes inicioAnimation {
	0% {
		-webkit-transform: rotate(0deg) scale(1);
	}
	30% {
		-webkit-transform: rotate(360deg) scale(1.5);
	}
	100% {
		-webkit-transform: rotate(1440deg) scale(0);
	}
}

.btn-iniciar.active{
/*	-webkit-animation: inicioAnimation 1s ease-in-out;*/
	-webkit-transform: rotate(1440deg) scale(1.5) scale(0);
}
.boton-login{
	padding: 0;
	font-size: inherit;
	background-image: url(../img/btn_login.png);
}


@-webkit-keyframes wavesAnimation {
	0% {
		background-position-x: 60px, 130px;
	}
	100% {
		background-position-x: 25px, 52px;
	}
}

.boton-login span{
	font-family: 'ttw';
	font-size: 10px;
	display: inline-block;
	width: 70px;
	color: #C7C7C7;
	height: 70px;
	padding-top: 30px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	border-radius: 500px;
	background-size: 250%;
	background-repeat: repeat-x;
	background-color: #63e05a;
	font-weight: bold;
}

.boton-login span.uno,
.boton-login span.dos,
.boton-login span.tres,
.boton-login span.cuatro{
	background-color: #262A1A;
	background-position-x: 60px, 130px;
	background-image: url(../img/bg-log-03.png), url(../img/bg-log-04.png);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.6) inset;
}

.ios-device .boton-login span.uno,
.ios-device .boton-login span.dos,
.ios-device .boton-login span.tres,
.ios-device .boton-login span.cuatro{
	-webkit-animation: wavesAnimation 2s infinite linear alternate;
}

.boton-login span.uno{
	background-position-y: 45px, 45px;
}
.boton-login span.dos{
	background-position-y: 20px, 26px;
}
.boton-login span.tres{
	background-position-y: 8px, 16px;
}
.boton-login span.cuatro{
	background-position-y: 13px, 16px;
}

.btn-estadisticas{
	display: block;
	background: none;
	border-color: #ddd;
	min-height: 80px;
}
.btn-estadisticas .num{
	display: block;
	padding: 8px 0;
	font-size: 25px;
}

.btn-action{
	border: 0;
	color: #fff;
	background: #63e05a;
	font-weight: bold;
	text-shadow: 1px 1px 0 #2c6427;
}

.btn-facebook{
	color: #fff;
	border: 0;
	background: #32497a;
	font-weight: bold;
	text-shadow: 2px 2px 0 #274174;
	box-shadow: 0 37px 20px -13px #567dc8 inset;
}

.btn-icon{
	position: relative;
	padding-left: 40px !important;
}
.btn-icon:before{
	top: 0;
	left: 0;
	width: 34px;
	height: 100%;
	content: " ";
	display: block;
	position: absolute;
}
.btn-icon-fb:before{
	background: url(../img/ico-fb.png) no-repeat left !important;
	background-size: auto 90% !important;
	border-right: 2px ridge #4663A1;
}

.btn-icon-mail{
	background: url(../img/ico-mail.png) no-repeat left !important;
	  background-size: auto 70% !important;
}
.btn-icon-lock{
	background: url(../img/ico-lock.png) no-repeat left !important;
	background-size: auto 70% !important;
}





.btnCancelContent{
	position: relative;
}
.btnCancelBG1,
.btnCancelBG2{
	position: absolute;
	height: 100%;
	width: 0;
	top: 0;
	left: 0;
	z-index: 3;
	background: #D84A1D;
	-webkit-transition: all .5s ease-in-out;
}
.btnCancelBG2{
	width: 100%;
	z-index: 1;
	background: #595959;
}

.btnCancel{
	z-index: 5;
	position: relative;
	background-color: transparent;
}
.btnCancelBG1.stoped,
.btnCancelBG1.animCancel{
	width: 100%;
}
/* end header*/

/* menu lateral */

.menu-lateral{
	left: 0;
	width: 140px;
	height: 100%;
	max-width: 280px;
	padding-top: 60px;
	padding-bottom: 20px;
	position: absolute;
	background: #24212C;
	overflow-y: auto;
	z-index: 2;
}

.menu-lateral span{
	color: #fff;
	display: block;
	padding: 8px 15px;
	border-bottom: 2px groove rgba(87, 87, 87, 0.6);
	text-decoration: none;
	padding-top: 60px;
	text-align: center;
	background: no-repeat center 11px;
	background-size: auto 50%;
}
.menu-lateral span.user{
	background-image: url(../img/user_icon.png);
}
.menu-lateral span.music{
	background-image: url(../img/music_icon.png);
}
.menu-lateral span.config{
	background-image: url(../img/config_icon.png);
}
.menu-lateral span.logout{
	background-image: url(../img/logout_icon.png);
}

.menu-back{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	position: absolute;
}

#config .Main{
	padding-top:64px;
}

/* si es iOS */
.ios-device header{padding-top: 25px;}
.ios-device .Main,
.ios-device .menu-lateral{padding-top: 85px;}

/* end menu lateral */
/* secciones */

.general-title{
	font-size: 1.3em;
} 

#menu{ z-index: 3 !important; background: none; }
#login .Main{
	padding-top: 6px;
}
#login .container{
	width: 80%;
}
.ios-device #login .Main{
	padding-top: 25px;
}
#login{
	background: url(../res/screen/screen.png) no-repeat center top;
	background-size: cover;
	
}
.login-logo img{
	width: 100%;
	max-width: 130px;
}
.login-logo{
	padding-bottom: 20px;
}


#pkPeso,
#pkEstUno,
#pkEstDos,
#pickEdadDia,
#pickEdadMes,
#pickEdadAno{
	height: 180px;
	overflow: hidden;
	font-size: 23px;
	line-height: 29px
}


#pkPeso:before,
#pkEstUno:before,
#pkEstDos:before,
#pickEdadDia:before,
#pickEdadMes:before,
#pickEdadAno:before,
#pkPeso:after,
#pkEstUno:after,
#pkEstDos:after,
#pickEdadDia:after,
#pickEdadMes:after,
#pickEdadAno:after{
	content: " ";
	position: absolute;
	width: 50%;
	height: 1px;
	display: block;
	background: #5de252;
	top: 40%;
	left: 25%;
}
#pkPeso:after,
#pkEstUno:after,
#pkEstDos:after,
#pickEdadDia:after,
#pickEdadMes:after,
#pickEdadAno:after{
	top: 58%;
}


#pkPeso .swiper-slide:first-child,
#pkEstUno .swiper-slide:first-child,
#pkEstDos .swiper-slide:first-child,
#pickEdadDia .swiper-slide:first-child,
#pickEdadMes .swiper-slide:first-child,
#pickEdadAno .swiper-slide:first-child,

#pkPeso .swiper-slide,
#pkEstUno .swiper-slide,
#pkEstDos .swiper-slide,
#pickEdadDia .swiper-slide,
#pickEdadMes .swiper-slide,
#pickEdadAno .swiper-slide {
	opacity: .2;
}

#pkPeso .swiper-slide-active,
#pkEstUno .swiper-slide-active,
#pkEstDos .swiper-slide-active,
#pickEdadDia .swiper-slide-active,
#pickEdadMes .swiper-slide-active,
#pickEdadAno .swiper-slide-active {
	opacity: 1;
}

#sensibilidad{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/sens-bg.png);
}
#sensibilidad .sensibilidad-pasos{
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/bg-calibracion.png);
	text-align: center;
	font-size: 125px;
}
#terminos{ text-align: justify; }
#terminos h3{ font-size: 1.2em; }
#terminos a{ color: #63e05a; }
.form-terms{
	font-size: 1.2em;
}
.form-terms a{
	color: #63e05a;
}
.estadisticas{
	text-align: center;
}

.estadisticas img{
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
	width:80px;
}
	
.estadisticas h2{
	vertical-align: middle;
	display: inline-block;
	font-size: 34px;
	width:50%;
	text-align: center;
}
	
.estadisticas .periodo{
	margin:20px 0 10px 0;
	padding: 7px;
	box-shadow: inset  0 1px 3px rgba(0,0,0,.5);
	border-bottom: 1px solid #444;
}
	
.estadisticas .periodo li:first-child{
	border-left: 0;
}
	
.estadisticas .periodo li:last-child{
	border-right: 0;
}
	
.estadisticas .periodo li{
	display: block;
	width: 33.33%;
	padding: 8px;
	list-style: none;
	background: #1C1922;
	text-align: center;
	margin: 0;
	border-right:1px solid #3A373F;
	border-left:1px solid #000000;
	font-weight: bold;
	font-size: 14px; 
	box-sizing: border-box;
	float: left;
 }

.estadisticas .periodo li.active{
	background: #63e05a;
	color:#232126;
}

.header_graph{
	width:100%;
	text-align: center;
}

.prev-graph{
	opacity:0;	
	float:left;
	width:18px !important;	
	transition:.3s all ease-out;
}
.next-graph{
	float:right;
	width:18px !important;
	opacity:0;
	transition:.3s all ease-out;
}

.msj-estadisticas{
	display:none;
}

.title_graph{
	color:#888;
    font-size: 1em;
    text-align: center;
}

.estadisticas .grafica{
	height: 130px;
	width: 100%;
}


.canvasjs-chart-credit{
	display: none !important;
}

.submenu{
	margin:0;
	left: 0;
	right: 0;
	bottom: 0;
	position:absolute;
	width:100%;
	z-index: 9999;
	display:none;
}


.img-distancia{ background-image:url(../img/dist_icon.png);}
.active.img-distancia {background-image: url(../img/dist_icon2.png);}

.img-calorias{background-image:url(../img/calories_icon.png);}
.active.img-calorias {background-image: url(../img/calories_icon2.png);}

.img-pulso{background-image:url(../img/hearth_icon.png);}
.active.img-pulso {background-image: url(../img/hearth_icon2.png);}

.img-pasos{background-image:url(../img/step_icon.png);}
.active.img-pasos {background-image: url(../img/step_icon2.png);}



.submenu li.active{
	background-color: #63e05a !important;
}

.submenu li{
	display:inline-block;
	height: 50px;
	width: 25%;
	text-align: center;
	padding: 10px 0;
	list-style: none;
	background-color: #1C1922;
	background-size:24px auto;
	background-position: center center;
	background-repeat: no-repeat;
	float:left;
	margin:0;
	box-sizing: border-box;
	border-right:1px solid #3A373F;
	border-left:1px solid #000000;
}

.submenu li.active div {	
	display:block;
	width: 15px;
	height:15px;
	background:#63e05a;
	margin:-17px auto 0 auto;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
}


.submenu li:first-child{
	border-left: 0;
}
	
.submenu li:last-child{
	border-right: 0;
}

/* end secciones */
/* dispositivos */
.disp-list{
	padding-top: 10px;
	padding-top: 20px;
}
.disp-find{
	padding-bottom: 30px;
	background: url(../img/loader-mini.gif) no-repeat center bottom;
}
.disp-list .disp-item,
.disp-find .disp-item{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 30px;
	color: #63e05a;
}
.disp-list .activo,
.disp-find .activo{
	color: #fff;
	background: #92C59F;
	border-color: #87B694;
}
/* end dispositivos */
/* perfil */
.perfil-photo{
	display: inline-block;
	border-radius: 500px;
	background-color: #ccc;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#foto .perfil-photo{
	width: 100%;
	height: 256px;
	border-radius: 0;
}
.photo-loader{
	display: block;
	height: 30px;
	background: url(../img/loader-mini.gif) no-repeat center;
}
.perfil-info{
	text-align: center;
	background: #332F3A;
	padding: 8px 0;
}
.perfil-info img{
	height: 35px;
	display: block;
	margin: 0 auto;
}
.imc-bg{
    height: 72px;
    display: inline-block;
    background-image: url(../img/indice_okey.png);
    width: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center right;
    position: relative;
}

.imc.red .imc-bg{
    background-image: url(../img/indice_alert.png);
}

.imc-bg .before,
.imc-bg .after{
	-background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.imc-bg .before{
	content: " ";
	position: absolute;
	width: 36px;
	display: block;
	height: 80px;
	margin-left: 45px;
	bottom: -4px;
	background-image: url(../img/woman_green_80.png);
}
.imc-bg .after{
	content: " ";
	position: absolute;
	width: 36px;
	display: block;
	height: 0;
	margin-left: 45px;
	bottom: -4px;
	background-image: url(../img/woman_red_80.png);
}
.imc-title{
    font-size: 11px;
    padding-bottom: 4px;
}
.imc .col{
    padding-top: 10px;
    padding-bottom: 10px;
}
.imc-dt{
    padding-left: 0 !important;
}
.imc-data{
    text-align: center;
    background-color: #252428;
    color: #63e05a;
    font-size: 28px;
    line-height: 24px;
    padding: 6px 15px;
    box-shadow: 0 25px 20px -10px rgba(113, 109, 121, 0.56) inset;
    border-radius: 5px;
    font-weight: bold;
}
.imc-info{}
.imc-info span{
    color: #63e05a;
    font-weight: 700;
}
.imc.red .imc-data,
.imc.red .imc-info span{
	color: #D84A1D;
}
/* end perfil */
/* principal */
.ppal-container{
	padding: 0 15px;
}
.border-right{
	border-right: 2px groove rgba(87, 87, 87, 0.6);
}
.border-bottom{
	border-bottom: 2px groove rgba(87, 87, 87, 0.6);
}
.border-top{
	border-top: 2px ridge #5C5C5C;
}
.ppal-clock{
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	line-height: 30px;
}
.ppal-clock span{
	color: #26242C;
}
.ppal-clock .act{
	color: #fff;
}

.ppal-deta{
	background: #1C1922;
	border-radius: 15px;
}
.ppal-deta .col{
	padding: 10px;
}
.ppal-deta-img{
	text-align: center;
	padding: 8px;
	display: none;
}
.ppal-deta-img img{
	height: 26px;
}
.ppal-deta-tit,
.ppal-deta-num{
	text-align: center;
}
.ppal-deta-tit{
	color: #fff;
}
.ppal-deta-num{
	color: #fff;
	font-size: 40px;
	font-weight: 700;
	line-height: 30px;
}
.deta-light{
	font-weight: lighter;
	font-size: 0.8em;
}
.ppal-icon{
	display: block;
	padding: 0 12px;
	text-align: center;
	padding-top: 30px;
	background-size: auto 60%;
	background-repeat: no-repeat;
	background-position: center top;
	display: inline-block;
}

.ppal-icon-music{
	background-image: url(../img/music_icon.png);
}
.ppal-icon-map{
	background-image: url(../img/map_icon.png);
}
.ppal-icon-share{
	background-image: url(../img/share_icon.png);
}

.map-protection{
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.05);
	position: absolute;
	z-index: 2;
}
#m-canvas,
#map-canvas{
	width: 100%;
	height: 200px;
	background: #ccc;
}

#myCanvas{
	height: 90px;
}
.map-info-cont{
	background-color: #1C1922;
}
.map-info-cont div:nth-child(-n+3) .map-info{
	border-right: 2px groove rgba(87, 87, 87, 0.6);
}
.map-info{
	font-size: 14px;
	line-height: 30px;
	font-weight: 700;
	padding-left: 20px;
	background: no-repeat 1px center;
	background-size: auto 54%;
	text-align: left;
	margin-left: 10px;
}

.map-info-bottom .map-info{
	background-color: #1C1922;
	margin-right: -15px;
	background-position: 6px center;
	border-bottom: 2px groove rgba(87, 87, 87, 0.6);
	padding-left: 34px;
	font-size: 1.0em;
}

.map-info.ppal-clock{
	background-image: url(../img/clock_icon.png);
}
.map-info.PPM{
	background-image: url(../img/hearth_icon.png);
}
.map-info.DISTA{
	background-image: url(../img/distance_icon.png);
}
.map-info.CALOR{
	background-image: url(../img/calories_icon.png);
}
.map-info.CLIMA{
	background-image: url(../img/weather_icon.png);
}
.map-info.PASOS{
	background-image: url(../img/step_icon.png);
}
.map-info.CALENDAR{
	background-image: url(../img/calendar_icon.png);
}

.compass,
.compass-int{
	height: 70px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	-webkit-transition: 1s ease-out;
}
.compass-int{
	width: 70px;
}
.compass{
	background-image: url(../img/compass-bg.png);
	margin-top: -35px;
	z-index: 9999;
	position: relative;
}
.compass-int{
	background-image: url(../img/compass-top.png);
}

/* end principal */

/* columnas */

/* end columnas */
select.form-control{
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

input.form-control,
textarea.form-control{
	-webkit-user-select: initial; 
}
.form-control{
	width: 100%;
	color: #ccc;
	border-bottom: 1px solid #5de252;
	padding: 10px;
	background: transparent;
	margin-bottom: 15px;
	border-radius: 0;
	color: #5de252;
	font-family: 'ttw', sans-serif;
}

.form-control.error{
	background: transparent;
	border-bottom: 1px solid #5de252;
	box-shadow: 0 -30px 15px -10px rgba(93, 226, 82, 0.17) inset;
}
textarea.form-control{
	min-height: 180px;
	resize: vertical;
}

.input-center,
.input-center.error{
	color: #fff;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	padding: 5px;
	border: 1px solid #2b282f;
	border-top: 2px solid #171619;
	border-bottom: 2px solid #4d4956;
	box-shadow: none;
}


input[type='range'] {
	-webkit-appearance: none;
	background: #5de252;
	background: -webkit-linear-gradient(left, #5de252 0%, #5de252 50%, #212024 50%);
	vertical-align: middle;
	height: 9px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 1px 1px 0 6px rgba(255,255,255,.07), 0 0 0 6px rgba(0,0,0,.2);
	margin-top: 15px;
	margin-bottom: 35px;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background-color: #5de252;
	border-radius: 20px;
	border: 8px solid  #585858;
	height: 23px;
	width: 23px;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,.6);
}


input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ac51b5;
}

.range-icon{
	margin: 9px 0 0 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0px 1000px #312e37 inset;
	-webkit-text-fill-color: #fff !important;
}

/* ak-tooltip */
.ak-tooltip{
	position: absolute;
	height: 0;
	z-index: 1070;
}
.ak-tooltip-int{
	bottom: 0;
	width: 100%;
	padding: 5px 7px;
	font-size: .9em;
	position: absolute;
	color: #000;
	background: #F8E8CC;
	border: 1px solid #D1B693;
	box-shadow: 0 5px 9px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.ak-tooltip-int:after,
.ak-tooltip-int:before{
	content: " ";
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	bottom: -6px;
	left: 48%;
	border-top: 6px solid #D1B693;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}
.ak-tooltip-int:after{
	bottom: -4px;
	border-top: 6px solid #F8E8CC;
}

.ak-tooltip-danger .ak-tooltip-int{
	background: #F8D7CC;
	border: 1px solid #D19393;
}
.ak-tooltip-danger .ak-tooltip-int:before{
	border-top: 6px solid #D19393;
}
.ak-tooltip-danger .ak-tooltip-int:after{
	border-top: 6px solid #F8D7CC;
}

.ak-alert{
	width: 100%;
	color: #161616;
	display: block;
	padding: 5px 7px;
	font-size: .9em;
	background: #F8E8CC;
	border: 1px solid #D1B693;
}
/* end ak-tooltip */

/* icons */
.icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	vertical-align: bottom;
	background-size: 100%;
}

/* end icons */

/* config */

.config-cont{
	background: #1C1922;
	padding: 20px 15px;
	border-radius: 15px;
}

.config-item{
	color: #C2C2C2;
	padding: 5px;
	position: relative;
	margin-bottom: 18px;
	border: 1px solid #2b282f;
	border-top: 2px solid #171619;
	border-bottom: 2px solid #4d4956;
}
.config-item.activo{
	color: #333;
}
.config-item-left,
.config-item-right{
	padding-top: 11px;
}
.pktxaling{
	padding-top: 30px;
}
.config-item-left{
	text-align: right;
}
.config-item-center{
	color: #fff;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
}
.config-item .form-control{
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	border: 0;
	height: 100%;
	padding: 0;
	opacity: 0;
	position: absolute;
}
.config-item .form-control.config-input-1,
.config-item .form-control.config-input-2{
	width: 50%;
}
.config-item .form-control.config-input-2{
	right: 0;
	left: initial;
}
.config-item input.form-control{
	height: 0px;
}
.config-item .form-control.swho-it{
	height: 100%;
}

.icon-plus{
	background-image: url(../img/icon_plus.png);
}
.icon-minus{
	background-image: url(../img/icon_minus.png);
}

.icon-music{
	background-image: url(../img/music_icon.png);
}

.icon-step{
	background-image: url(../img/step_icon.png);
}

.icon-hearth{
	background-image: url(../img/hearth_icon.png);	
}

.icon-flag{
	background-image: url(../img/flag_icon.png);	
}

.icon-indoor{
	background-image: url(../img/indoor_icon.png);	
}

.icon-indoor-sel{
	background-image: url(../img/indoor_icon_sel.png);	
}

.icon-outdoor{
	background-image: url(../img/outdoor_icon.png);	
}

.icon-outdoor-sel{
	background-image: url(../img/outdoor_icon_sel.png);	
}

.icon-mobile{
	background-image: url(../img/mobil_icon.png);	
}

.icon-calib{
	background-image: url(../img/icon_calib.png);	
}

.icon-place{
	background-repeat: no-repeat;
    display: inline-block;
  	width: 100%;
	background-size: 72px;
	min-height: 99px;
	background-position: center 32px;
	margin-top: 13px;
	font-family: 'ttw', sans-serif;
}
.icon-config{
	background-color: transparent;
  	background-size: 20px;
  	background-repeat: no-repeat;
  	width: 20px;
  	height: 20px;
}
.item-config{
	color:#63e05a;
	padding: 16px 10px;
	border-bottom: 1px solid #63e05a;
	clear: both;
	width: 90%;
	margin: 0 auto;
}

.item-config .switch{
	margin-top: -4px;
}

.icon-configuracion{
	background-image: url(../img/config_icon.png);	
	background-color: #232127;
  	background-size: 70px;
  	background-repeat: no-repeat;
  	background-position: center;
  	width: 100%;
  	height: 100px;
  	display: inline-block;

}

.config-place{
	padding: 20px 5px;
	background-color: #131118;
}

.hrm-item
{
	color: white;
	background-color: #131118;
	height: 35px;
	padding: 5px 10px;
} 

.switch{
  float: right;
  display: block;
  background-color: #17141D;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  padding: 2px;
  position: relative;
}

.switch:before{
	content: " ";
	display: block;
	width: 25px;
	height: 25px;
	background: #D84A1D;
	border-radius: 50px;
	position: absolute;
	-webkit-transition: .2s all;
}
.switch.active:before{
	background: #63e05a;
	margin-left: 30px;
}
.switch.inactive{
	background: #1C1922;
	margin-left: 0;
}
.switch.load:before{
	background: #28242F url(../img/loader-mini.gif) no-repeat center;
	margin-left: 0;
}
.switch.inactive:before{
	background: #28242F;
	margin-left: 0;
}
/* end config */

/*
 * Swiper 2.7.6
 * http://www.idangero.us/sliders/swiper/
*/
/* ===============================================================
Basic Swiper Styles 
================================================================*/
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	direction:ltr;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
	/* Specify Swiper's Size: */
	width: 100%;
	height: 100%;
}
.swiper-slide {
	/* Specify Slides's Size: */
	
	width: 100%;
	height: 100%;
}
.swiper-slide-active {
	/* Specific active slide styling: */
	
}
.swiper-slide-visible {
	/* Specific visible slide styling: */	

}
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
	/* Stylize pagination button: */	

}
.swiper-active-switch {
	/* Specific active button style: */	
	
}
.swiper-visible-switch {
	/* Specific visible button style: */	
	
}


#inicio{
	-background: url("../img/inicial_bg.jpg") no-repeat center top;
	background-size: cover; 
}
.wrapper_inicio{
	background: #1C1922;
	/* background: rgba(59,56,65,0.8); */ 
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-top: 48px;
	padding: 20px;
	padding-top: 0px;
}


.user_inicio {
	margin-top: -50px;
	margin-bottom: 5px;
}

#perfil .user_inicio{
	margin-top: 0;
	background-color: #1C1922;
	padding: 6px 0;
	margin-bottom: 0;
}
#registro .user_inicio{
	margin-top: 0;
}
#registro .perfil-photo{
    background-color: #B0B0B0;
}
.user_inicio h2{
	font-size: 20px;
	font-weight: normal;
	padding-bottom: 8px;
}
.user_inicio .perfil-photo{
	background-color: transparent;	
	width: 75px;
    height: 75px;
	margin-top: 7px;
}
.user_inicio .perfil-photo-wrapper{
	border-radius: 500px;
	background-color: #transparent;
	background-image:  url("../img/profile_img_bg.png");
	background-size:cover;
	width: 90px;
	margin: auto;
	float: none;
	display: inline-block;
	position: relative;
}
.user_inicio .perfil-photo-wrapper .edit_porfile_button{
	background-image: url("../img/edit_icon.png");
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0px;
	right: -15px;
	background-size: contain;
}
.btn_title{
	width: 100%;
	font-size: 20px;
	line-height: 20px;
}
.btn_iniciar_wrapper{
	margin-bottom: -70px;
}

.btn-estadisticas{
	border:none;
	padding: 0;
	min-height: 50px;
	padding-bottom: 10px;
}

.btn-estadisticas .num{
	margin: 0;
	padding: 0;
	font-size: 24px;
	margin-left: 0px;
}
.est-icon.PPM{
	font-size: 30px;
}
.est-icon.DISTA,
.est-icon.CALOR{
	font-size: 25px;
	padding-left: 40px !important;
}

.est-icon{
	padding-left: 52px !important;
	text-align: left;
	background-repeat: no-repeat;
	background-size: auto 65%;
	background-position: 8px center;
	display: inline-block; 
    font-weight: bold;       
}
.est-icon-hearth{
	background-image: url(../img/hearth_icon.png);
}
.est-icon-step{
	background-image: url(../img/step_icon.png);
}
.est-icon-distance{
	background-image: url(../img/distance_icon.png);
}
.est-icon-calories{
	background-image: url(../img/calories_icon.png);
}

.popup-cont{
	position: fixed;
	z-index: 999999 !important;
	background-color: rgba(28, 25, 34, 0.8);
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
}
.popup-int{
    width: 80%;
    margin: 0 auto;
    padding: 20% 0 20px;
    position: relative;
    height: 0px;
    margin-top: 80%;
}

.popup-content{
    background-color: #2D2738;
    padding: 25px;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-radius: 10px;
}

.debugbox{
	display: none;
}
.debugbox input{
	font-size: 8px;
	position: fixed;
	bottom: 40px;
	width: 100%;
	z-index: 9999;
	margin: 0;
	padding: 3px;
	background: #fff;
	border:0;
	color: #000;
}
#mensajes{
	height:40px;
	z-index: 99999;
	position: fixed;
	width: 100%;
	overflow: hidden;
	overflow-y: auto;
	bottom:0; left:0;
	color: #666;
	background: #000;
	font-size: 8px;
	border-top: 1px solid #333;
}
#mensajes p{
	text-shadow: none;
}
#mensajes p:even{
	color: #333;
}
#mensajes p:odd{
	color: #666;
}
#mensajes p:first-child{
	color: #fff;
}


.ppal-icon-close-share{
	background-image: url(../img/close_icon.png);
}

.ppal-icon-fb{
	background-image: url(../img/facebook_icon.png);
}

.ppal-icon-tw{
	background-image: url(../img/twitter_icon.png);  
}

.ppal-icon-gp{
	background-image: url(../img/google_icon.png);
}
.ppal-icon-disabled{
	opacity: 0.3;
}

.col-share{
	display: inline-block;  
	padding: 0px 5px;
	margin-bottom: -15px;
}
.ppal-share{
	display: block;
	background-size: cover; 
	height: 40px;
	width: 40px;
}




@media all and (min-width: 376px){
	.container,
	#login .container{
		width: 330px;
	}
}

@media all and (min-height: 481px){
	/* mas alto que iphone 4 */
	html, body{
		font-size: 14px;
	}

	#login .Main,
	.ios-device #login .Main{
		padding-top: 40px;
	}

	.login-logo img{
		max-width: 170px;
	}

	.ppal-deta-img{
		display: block;
	}
	
	.perfil-nombre,
	.btn-estadisticas{
		padding-top: 8px;
		padding-bottom: 20px;
	}
	.user_inicio h2{
		font-size: 24px;
	}
	.btn-iniciar{
		width: 130px;
		height: 130px;
	}
	.boton-login span{
		width: 84px;
		height: 84px;
		font-size: 13px;
		padding-top: 34px;
	}
	.config-item,
	.input-center{
		margin-top: 6px;
		margin-bottom: 25px;
	}
	
	#m-canvas, 
	#map-canvas{
		height: 275px;
	}
	
	.icon-place{
		background-size: 100px;
		min-height: 140px;
		background-position: center 36px;
		margin-top: 13px;
	}
	
	.perfil-info{
		padding: 10px 0;
		font-size: 17px;
	}
	.perfil-info img{
		height: 55px;
	}
	.imc .col{
		padding-top: 20px;
	}
	
	.btn-cont-fixed{
		/* bottom: 50px; */
	}
	.est-icon.PPM{
		font-size: 45px;
		padding-left: 60px !important;
	}
	.est-icon.DISTA,
	.est-icon.CALOR{
		font-size: 26px;
	}
	.estadisticas .grafica{
		height: 200px;
	}

	.estadisticas .periodo{
		margin: 30px 0 10px 0;
	}
	.sens-ini{
		margin-top: 30px;
	}
	.cuentaA.active{
		opacity: 1;
		top: 100px;
		font-size: 250px;
	}
}

@media all and (min-height: 569px){
	/* mas alto que iphone 5 */
	html, body{
		font-size: 16px;
	}
	.btn{
		padding: 12px 20px;
	
		font-size: 1.2em;
}
	.btn-icon{
		padding-left: 60px;
	}
	.btn-icon:before{
		width: 46px;
	}
	.login-logo img{
		max-width: 188px;
	}
	.ppal-deta-num,
	.ppal-clock,
	.map-info{
		line-height: 40px;
	}
	.perfil-nombre,
	.btn-estadisticas{
		padding-top: 17px;
		padding-bottom: 25px;
	}
	.btn-estadisticas .num{
		font-size: 30px;
	}
	.map-info{
		padding-left: 30px;
	}
	
	.user_inicio .perfil-photo-wrapper{
		width: 50%;
		max-width: 100px;
		max-height: 100px;
	}
	.user_inicio .perfil-photo{
		width: 85px;
		height: 85px;
		margin-top: 8px;
	}
	.btn_iniciar_wrapper{
		margin-bottom: -80px;
	}
	.btn-iniciar{
		width: 150px;
		height: 150px;
	}
	.boton-login span{
		width: 100px;
		height: 100px;
		font-size: 16px;
		padding-top: 37px;	
	}
	.config-item,
	.input-center{
		margin-top: 20px;
		margin-bottom: 40px;
	}
	#m-canvas, 
	#map-canvas{
		height: 330px;
	}
	#myCanvas{
		height: 125px;
	}
	
	.perfil-info{
		padding: 30px 0;
		font-size: 20px;
	}
	.perfil-info img{
		height: 60px;
	}
	.imc .col{
		padding-top: 30px;
	}
	.imc-bg .before,
	.imc-bg .after{
		margin-left: 70px;
	}
	
	.col-share{
		margin-bottom: -6px;
	}
	
	.item-config{
		margin-top: 10px;
	}
	.sens-ini{
		margin-top: 50px;
	}
	
	.est-icon.PPM{
		font-size: 70px;
		padding-left: 90px !important;
	}
	.est-icon.DISTA,
	.est-icon.CALOR{
		font-size: 33px;
	
		padding-left: 45px !important;
	}
	.cuentaA.active{
		opacity: 1;
		top: 100px;
		font-size: 300px;
	}

	#btn-accion-izq{
		background-size: 19%;
	}
}

@media all and (min-height: 650px){
	.login-logo{
		padding-bottom: 40px;
	}
	
}

@media all and (min-height: 668px){
	.user_inicio{
		margin-top: -50px;
		margin-bottom: 20px;
	}
	.user_inicio .perfil-photo-wrapper{
		width: 50%;
		max-width: 120px;
		max-height: 120px;
	}
	.user_inicio .perfil-photo{
		width: 100px;
		height: 100px;
		margin-top: 10px;
	}
	.est-icon{
		padding-left: 55px !important;
	}
	.btn_iniciar_wrapper{
		margin-bottom: -100px;
	}
}